body {
    background-color: rgb(255, 233, 233);
    font-family: sans-serif;
}

h1,
h2.main-title {
    font-size: 2rem;
    font-family: bold;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}